<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="C#GeneratorDatabase"
         connectionString="Data Source=NEDSPC\SQL2017;Initial Catalog=C#Generator;Integrated Security=True;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TargetDatabase" value="msdb" />
    <add key="Namespace" value="Ned.Test"/>
    <add key="ClassName" value="msdb"/>
    <add key="AppendText" value="NedTest"/>
    <add key="OutputPath" value="H:\test"/>
  </appSettings>
</configuration>